@{
    ViewBag.Title = "Odabrani filmovi";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script src="~/Scripts/movieMobileSelectedList.js" type="text/javascript"></script>

<ul id="movieList" data-role="listview" data-split-icon="minus" data-split-theme="b" data-inset="true"></ul>
<div class="ui-grid-a ui-responsive">
</div>
