@model IEnumerable<VideoKatalog.WebApp.Serie>
@using VideoKatalog.WebApp;

@{
    ViewBag.Title = "Lista serija";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<a href="#" class="ui-btn ui-icon-recycle ui-btn-icon-left ui-mini" id="checkNewMovies" onclick="reloadData()">Ažuriranje popisa</a>
<ul id="serieList" data-role="listview" data-filter-placeholder="Traži serije..." data-filter="true" data-inset="true">
    @foreach (Serie tempSerie in Model) {
        <li>
            <a href="~/Serie/Details/@tempSerie.serieID">@tempSerie.name</a>
        </li>
    }
</ul>

@section scripts {
    <script src="~/Scripts/serieMobileList.js" type="text/javascript"></script>
}
