@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_LayoutKatalog.cshtml";
}

<style>
	#mailLink {
		position: fixed;
		top: 400px;
		width: 100%;
		font-size: 20pt;
		text-align:center;
	}

	#filters2{
		display: none;
	}
</style>

<a href="mailto:nabavahdd@gmail.com?Subject=" target="_top" id="mailLink">
	Pošalji e-mail
</a>