<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://videokatalog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>videokatalog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Videokatalog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>rudy007</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VideoDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mk47shy9fs.database.windows.net,1433;Initial Catalog=videokatalog;Integrated Security=False;User ID=rudy007@mk47shy9fs;Password=rudXYZ1%;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VideoKatalog.WebApp.VideoDatabaseEntities, VideoKatalog.WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VideoDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/VideoKatalogModel.csdl|res://*/VideoKatalogModel.ssdl|res://*/VideoKatalogModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mk47shy9fs.database.windows.net,1433;Initial Catalog=videokatalog;Integrated Security=False;User ID=rudy007@mk47shy9fs;Password=rudXYZ1%;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>